@charset "UTF-8";
/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */
/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
.dots-white .flickity-page-dots .dot {
  @apply opacity-100;
  background-color: white;
}
.dots-white .slick-dots .dot {
  @apply bg-white;
}

.dots-blue .flickity-page-dots .dot {
  @apply opacity-100;
  background-color: theme("colors.primary.300");
}
.dots-blue .slick-dots .dot {
  @apply bg-white;
}

.block_slider-show-1:not(.flickity-enabled, .slick-initialized) {
  @apply flex overflow-hidden;
}
.block_slider-show-1:not(.flickity-enabled, .slick-initialized) .block_slider-item:nth-child(n+2) {
  @apply hidden;
}

.block_slider-show-2:not(.flickity-enabled, .slick-initialized) {
  @apply flex overflow-hidden;
}
.block_slider-show-2:not(.flickity-enabled, .slick-initialized) .block_slider-item:nth-child(n+3) {
  @apply hidden;
}

.block_slider-show-3:not(.flickity-enabled, .slick-initialized) {
  @apply flex overflow-hidden;
}
.block_slider-show-3:not(.flickity-enabled, .slick-initialized) .block_slider-item:nth-child(n+4) {
  @apply hidden;
}

.block_slider-show-4:not(.flickity-enabled, .slick-initialized) {
  @apply flex overflow-hidden;
}
.block_slider-show-4:not(.flickity-enabled, .slick-initialized) .block_slider-item:nth-child(n+5) {
  @apply hidden;
}

.block_slider-show-5:not(.flickity-enabled, .slick-initialized) {
  @apply flex overflow-hidden;
}
.block_slider-show-5:not(.flickity-enabled, .slick-initialized) .block_slider-item:nth-child(n+6) {
  @apply hidden;
}

.block_slider-show-6:not(.flickity-enabled, .slick-initialized) {
  @apply flex overflow-hidden;
}
.block_slider-show-6:not(.flickity-enabled, .slick-initialized) .block_slider-item:nth-child(n+7) {
  @apply hidden;
}

.btn-base-yellow {
  @apply bg-yellow-100;
  @apply inline-block 2xl:px-7 px-5 2xl:py-[15px] py-3 rounded-md text-black font-semibold relative transition-all duration-500 leading-none overflow-hidden;
}
.btn-base-yellow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: none;
}
.btn-base-yellow:hover {
  box-shadow: rgba(255, 184, 28, 0.5) 0px 4px 16px 0px;
}
.btn-base-yellow:hover::after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
}

.btn-base-green {
  @apply bg-green;
  @apply inline-block 2xl:px-7 px-5 2xl:py-[15px] py-3 rounded-md text-black font-semibold relative transition-all duration-500 leading-none overflow-hidden;
}
.btn-base-green:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: none;
}
.btn-base-green:hover {
  box-shadow: rgba(0, 158, 135, 0.4) 0px 4px 16px 0px;
}
.btn-base-green:hover::after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
}

svg {
  @apply max-w-full;
}

.style-pc .menu_top li {
  @apply [&:not(:last-child)]:mr-6 [&:not(:last-child)]:pr-6 leading-none relative [&:not(:last-child)]:after:absolute after:w-[1px] [&:not(:last-child)]:after:bg-white [&:not(:last-child)]:after:h-[10px] [&:not(:last-child)]:after:top-1/2 [&:not(:last-child)]:after:-translate-y-1/2  [&:not(:last-child)]:after:right-0;
}
.style-pc .menu_top li a {
  @apply block transition-all duration-500 hover:text-yellow-100;
}
.style-pc .menu_top li.current-menu-item {
  @apply text-yellow-100;
}
.style-pc .main_menu > ul > li:not(.menu-home) {
  @apply relative after:absolute after:-bottom-1 after:left-0 after:w-full after:transition-all after:duration-500 after:bg-yellow-100 after:h-[2px] hover:after:w-full hover:text-yellow-100 before:left-0 [&:not(.active,.current-menu-item,.current-menu-parent,.current-menu-ancestor)]:after:w-0 [&:not(.active,.current-menu-item,.current-menu-parent,.current-menu-ancestor)]:text-black text-yellow-100;
}
.style-pc .main_menu > ul > li:not(.menu-home) a {
  @apply block transition-all duration-500;
}
.style-pc .main_menu-navbar {
  @apply flex transition-all duration-500  [&:not(.active)]:pointer-events-none [&:not(.active)]:invisible [&:not(.active)]:opacity-0 [&:not(.active)]:-z-10 -z-[1] opacity-100 visible pointer-events-auto;
}
.style-pc .main_menu-navbar > .submenu-wrapper {
  @apply w-[30%];
}
.style-pc .main_menu-navbar > .submenu-wrapper > li {
  @apply transition-all duration-500 pl-5 text-lg [&:not(:last-child)]:mb-5 relative before:absolute before:w-2 before:h-2 before:bg-primary-700 before:left-0 before:top-3 before:transition-all before:duration-500 hover:text-primary-700 hover:before:opacity-100 hover:font-bold [&:not(.active)]:text-paragraph text-primary-700 [&:not(.active)]:before:opacity-0 before:opacity-100 [&:not(.active)]:font-semibold font-bold;
}
.style-pc .main_menu-navbar > .submenu-wrapper > li a {
  @apply inline-block;
}
.style-pc .main_menu-navbar > .submenu-wrapper .sub-menu {
  @apply hidden;
}
.style-pc .main_menu-navbar > .submenu-content {
  @apply flex-1 overflow-hidden max-h-0 transition-all duration-500;
}
.style-pc .main_menu-navbar > .submenu-content > li {
  @apply text-paragraph  [&:not(.menu-item-has-children)]:border-b [&:not(.menu-item-has-children)]:border-[#E1E1E1]  2xl:[&:not(:last-child)]:mb-5 [&:not(:last-child)]:mb-4 pb-1 leading-normal;
}
.style-pc .main_menu-navbar > .submenu-content > li > a {
  @apply inline-flex gap-[12px] uppercase transition-all duration-500 hover:text-yellow-100 font-bold hover:-ml-8 relative bg-no-repeat  hover:pr-8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' viewBox='0 0 24 24' color='var(--token-cd35b17b-eeac-44bd-9757-ecd519fe3587, rgb(255, 184, 28))' style='user-select: none; width: 100%25; height: 100%25; display: inline-block; fill: var(--token-cd35b17b-eeac-44bd-9757-ecd519fe3587, rgb(255, 184, 28)); flex-shrink: 0; transform: rotate(90deg);'%3E%3Cpath d='M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z'%3E%3C/path%3E%3C/svg%3E%0A");
  background-size: 0 0;
  background-position: 95%;
}
.style-pc .main_menu-navbar > .submenu-content > li > a img {
  @apply w-6 h-6 transition-all duration-500 object-contain;
}
.style-pc .main_menu-navbar > .submenu-content > li > a:hover {
  @apply bg-right bg-contain;
}
.style-pc .main_menu-navbar > .submenu-content > li > a:hover img {
  @apply opacity-0 invisible;
}
.style-pc .main_menu-navbar > .submenu-content .sub-menu {
  @apply grid grid-cols-3 gap-3 pl-9 pt-4 mt-1 border-t border-[#E1E1E1];
}
.style-pc .main_menu-navbar > .submenu-content .sub-menu a {
  @apply transition-all duration-500 hover:text-yellow-100 font-medium flex gap-[12px];
}
.style-pc .main_menu-navbar > .submenu-content .sub-menu a img {
  @apply w-6 h-6;
}
.style-pc .footer-item li a {
  @apply transition-all duration-500 hover:text-yellow-100;
}
.style-pc .page__banner-haft {
  @apply bg-right-top;
  background-size: 70% 100% !important;
}
.style-pc .page__banner-haft::after {
  background: url("data:image/svg+xml,%3Csvg width='1600' height='283' viewBox='0 0 1600 283' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='580' width='1020' height='283' fill='url(%23paint0_linear_7741_16632)'/%3E%3Crect width='583' height='283' fill='%23252D69'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_7741_16632' x1='1312.15' y1='141' x2='595.832' y2='141' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231B468D' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23252D69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat;
}

.style-mb .main_menu-navbar {
  @apply fixed w-full h-full max-h-full overflow-y-auto top-0 left-0 bg-gradient-blue-50 z-[99] overflow-x-hidden transition-all duration-500 [&:not(.active)]:-translate-x-full translate-x-0  [&:not(.active)]:opacity-0 opacity-100 [&:not(.active)]:invisible visible [&:not(.active)]:pointer-events-none;
}
.style-mb .main_menu-navbar > li {
  @apply font-bold relative pl-5 before:absolute before:w-2 before:h-2 before:bg-primary-300 before:rounded-sm before:left-0 before:top-5 before:transition-all before:duration-500 text-black [&:not(.current-menu-item,.active)]:text-opacity-70 text-opacity-100 py-[12px] [&:not(.current-menu-item,.active)]:before:opacity-0;
}
.style-mb .main_menu-navbar li.active > a, .style-mb .main_menu-navbar li.current-menu-item > a {
  @apply text-primary-300;
}
.style-mb .main_menu-navbar > .menu-item-has-children {
  @apply pr-8;
}
.style-mb .main_menu-navbar > .menu-item-has-children .li-plus {
  @apply right-1 top-[14px];
}
.style-mb .main_menu-navbar .menu-item-has-children {
  @apply relative;
}
.style-mb .main_menu-navbar .menu-item-has-children .li-plus {
  @apply w-5 h-5 bg-no-repeat bg-center absolute  [&:not(.clicked)]:opacity-70;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3087 13.1959L15.6668 7.67052C16.0011 7.32574 15.7984 6.66663 15.3581 6.66663H4.64194C4.20159 6.66663 3.99893 7.32574 4.33327 7.67052L9.69135 13.1959C9.86897 13.3791 10.1311 13.3791 10.3087 13.1959Z' fill='%2331333F'/%3E%3C/svg%3E%0A");
}
.style-mb .main_menu-navbar .menu-item-has-children .li-plus.clicked {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.69131 6.80402L4.33323 12.3294C3.99889 12.6742 4.20155 13.3333 4.6419 13.3333L15.3581 13.3333C15.7984 13.3333 16.0011 12.6742 15.6667 12.3294L10.3087 6.80402C10.131 6.62085 9.86893 6.62085 9.69131 6.80402Z' fill='%23235BA8'/%3E%3C/svg%3E%0A");
}
.style-mb .main_menu-navbar .sub-menu {
  @apply hidden mt-4 space-y-6;
}
.style-mb .main_menu-navbar .sub-menu > li > a {
  @apply flex items-center gap-[12px] text-black text-opacity-70 uppercase;
}
.style-mb .main_menu-navbar .sub-menu > li .li-plus {
  @apply -right-7 top-0;
}
.style-mb .main_menu-navbar .sub-menu > li .sub-menu {
  @apply bg-white py-4 px-6 rounded-tl-lg rounded-bl-lg space-y-4 -mr-16;
}
.style-mb .main_menu-navbar .sub-menu > li .sub-menu a {
  @apply text-paragraph;
}
.style-mb .page__banner::after {
  @apply bg-cover;
}
.style-mb .page__banner:not(.page__banner-haft)::after {
  background-image: url("data:image/svg+xml,%3Csvg width='375' height='127' viewBox='0 0 375 127' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='-0.5' width='375.5' height='200' fill='url(%23paint0_linear_10568_60583)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_10568_60583' x1='269.032' y1='99.6466' x2='5.32817' y2='99.6466' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231B468D' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23252D69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.style-mb .page__banner.page__banner-haft::after {
  background-image: url("data:image/svg+xml,%3Csvg width='375' height='127' viewBox='0 0 375 127' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='375' height='127' fill='url(%23paint0_linear_8651_39412)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8651_39412' x1='233.405' y1='87.2674' x2='1.54638' y2='136.346' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231B468D' stop-opacity='0'/%3E%3Cstop offset='0.393299' stop-color='%23223472' stop-opacity='0.738462'/%3E%3Cstop offset='1' stop-color='%23252D69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.style-mb .fli-dots-blue .flickity-page-dots {
  @apply bottom-5;
}
.style-mb .fli-dots-blue .flickity-page-dots .dot {
  @apply w-1.5 h-1.5 bg-primary-300 bg-opacity-50 mx-[3px];
}
.style-mb .fli-dots-blue .flickity-page-dots .dot.is-selected {
  @apply w-8 bg-opacity-100;
}

@media (max-width: 1700px) and (min-width: 1367px) {
  .container {
    max-width: 90% !important;
  }
}
@media (max-width: 1366px) and (min-width: 1024px) {
  .container {
    max-width: 93% !important;
  }
}
header.active {
  transition: 0.5s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  animation: stuck-header 1s;
}

@keyframes stuck-header {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.home__banner .slick-dots {
  @apply relative -mt-10;
}

.form_newsletter {
  @apply bg-white bg-opacity-30 rounded-[10px] border border-white py-3 pr-2 pl-4 flex gap-x-4 items-center relative;
}
.form_newsletter input {
  @apply bg-transparent border-none focus:outline-0 flex-1 text-white placeholder:text-white focus:border-none max-w-full focus:ring-transparent;
}
.form_newsletter .wpcf7-form-control-wrap {
  @apply block 2xl:max-w-[60%] max-w-[50%];
}
.form_newsletter svg {
  @apply shrink-0;
}
.form_newsletter button {
  @apply whitespace-nowrap ml-auto;
}

.wpcf7-spinner {
  @apply absolute right-0 top-3;
}

.home__banner .flickity-viewport {
  @apply max-h-full;
}

.flickity-page-dots {
  @apply bottom-9;
}
.flickity-page-dots .dot {
  @apply transition-all duration-500;
}
.flickity-page-dots .dot.is-selected {
  @apply w-[50px] rounded-[5px];
}

.heading-title {
  @apply uppercase font-bold 2xl:text-[32px] sm:text-[28px] text-[22px] [&:not(.text-center)]:bg-no-repeat lg:[&:not(.text-center)]:bg-left lg:[&:not(.text-center)]:pl-14 lg:[&:not(.text-center)]:block lg:flex lg:justify-center lg:items-center lg:gap-4 leading-snug lg:before:inline-block before:hidden;
}
.heading-title:not(.text-center) {
  @apply lg:bg-contain;
}
@media only screen and (min-width: 1024px) {
  .heading-title:not(.text-center) {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='40' viewBox='0 0 45 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.9415 9.90088V21.1323L24.568 29.5821V20.1351C24.568 19.9008 24.5221 19.6687 24.433 19.4522C24.3438 19.2357 24.2132 19.039 24.0485 18.8733C23.8838 18.7076 23.6882 18.5762 23.473 18.4865C23.2578 18.3968 23.0271 18.3507 22.7942 18.3507H13.4033L21.7768 9.92712L32.9415 9.90088Z' fill='%232A5CAA'/%3E%3Cpath d='M32.9401 1.66184V9.90171H21.7755L13.402 18.3253H1.92428C1.72005 18.3224 1.52112 18.2593 1.35222 18.1437C1.18332 18.0282 1.05185 17.8654 0.974087 17.6754C0.89632 17.4854 0.875711 17.2766 0.914779 17.0749C0.953847 16.8733 1.05089 16.6875 1.19388 16.5408L17.054 0.717143C17.4022 0.371784 17.8693 0.174465 18.3582 0.166071H31.4011C31.6043 0.164339 31.8058 0.203108 31.9941 0.28014C32.1823 0.357171 32.3535 0.470935 32.4978 0.614877C32.6421 0.758818 32.7567 0.930086 32.8348 1.11879C32.913 1.30749 32.9532 1.5099 32.9532 1.71433' fill='%23FDB525'/%3E%3Cpath d='M44.1046 11.4623V27.6009C44.1017 28.0939 43.9048 28.5657 43.5568 28.9129L26.3272 46.0881C26.1838 46.233 26.0011 46.332 25.802 46.3728C25.6028 46.4135 25.3962 46.3941 25.208 46.3169C25.0198 46.2398 24.8585 46.1084 24.7443 45.9393C24.6302 45.7702 24.5683 45.5708 24.5664 45.3664V29.5821L32.9399 21.1585V9.90088H42.5655C42.9737 9.90088 43.3652 10.064 43.6538 10.3543C43.9425 10.6447 44.1046 11.0385 44.1046 11.4491' fill='%23009C88'/%3E%3C/svg%3E%0A");
    background-size: 37px 40px;
  }
}
.heading-title.text-center::before {
  @apply translate-y-1;
  content: url("data:image/svg+xml,%3Csvg width='37' height='40' viewBox='0 0 45 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.9415 9.90088V21.1323L24.568 29.5821V20.1351C24.568 19.9008 24.5221 19.6687 24.433 19.4522C24.3438 19.2357 24.2132 19.039 24.0485 18.8733C23.8838 18.7076 23.6882 18.5762 23.473 18.4865C23.2578 18.3968 23.0271 18.3507 22.7942 18.3507H13.4033L21.7768 9.92712L32.9415 9.90088Z' fill='%232A5CAA'/%3E%3Cpath d='M32.9401 1.66184V9.90171H21.7755L13.402 18.3253H1.92428C1.72005 18.3224 1.52112 18.2593 1.35222 18.1437C1.18332 18.0282 1.05185 17.8654 0.974087 17.6754C0.89632 17.4854 0.875711 17.2766 0.914779 17.0749C0.953847 16.8733 1.05089 16.6875 1.19388 16.5408L17.054 0.717143C17.4022 0.371784 17.8693 0.174465 18.3582 0.166071H31.4011C31.6043 0.164339 31.8058 0.203108 31.9941 0.28014C32.1823 0.357171 32.3535 0.470935 32.4978 0.614877C32.6421 0.758818 32.7567 0.930086 32.8348 1.11879C32.913 1.30749 32.9532 1.5099 32.9532 1.71433' fill='%23FDB525'/%3E%3Cpath d='M44.1046 11.4623V27.6009C44.1017 28.0939 43.9048 28.5657 43.5568 28.9129L26.3272 46.0881C26.1838 46.233 26.0011 46.332 25.802 46.3728C25.6028 46.4135 25.3962 46.3941 25.208 46.3169C25.0198 46.2398 24.8585 46.1084 24.7443 45.9393C24.6302 45.7702 24.5683 45.5708 24.5664 45.3664V29.5821L32.9399 21.1585V9.90088H42.5655C42.9737 9.90088 43.3652 10.064 43.6538 10.3543C43.9425 10.6447 44.1046 11.0385 44.1046 11.4491' fill='%23009C88'/%3E%3C/svg%3E%0A");
}

.shadow-base {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.shadow-base-sm {
  box-shadow: 0px 2px 15px 0px rgba(42, 92, 170, 0.1);
}

.shadow-base-blue {
  box-shadow: 2px 2px 10px 0px rgba(0, 101, 193, 0.1019607843);
}

.list-icon .list-icon-item {
  @apply flex items-start md:gap-4 gap-2;
}
.list-icon .list-icon-item:before {
  @apply md:w-6 md:h-6 w-5 h-5;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5924 3.20027C9.34888 3.4078 9.22711 3.51158 9.09706 3.59874C8.79896 3.79854 8.46417 3.93721 8.1121 4.00672C7.95851 4.03705 7.79903 4.04977 7.48008 4.07522C6.6787 4.13918 6.278 4.17115 5.94371 4.28923C5.17051 4.56233 4.56233 5.17051 4.28923 5.94371C4.17115 6.278 4.13918 6.6787 4.07522 7.48008C4.04977 7.79903 4.03705 7.95851 4.00672 8.1121C3.93721 8.46417 3.79854 8.79896 3.59874 9.09706C3.51158 9.22711 3.40781 9.34887 3.20027 9.5924C2.67883 10.2043 2.4181 10.5102 2.26522 10.8301C1.91159 11.57 1.91159 12.43 2.26522 13.1699C2.41811 13.4898 2.67883 13.7957 3.20027 14.4076C3.40778 14.6511 3.51158 14.7729 3.59874 14.9029C3.79854 15.201 3.93721 15.5358 4.00672 15.8879C4.03705 16.0415 4.04977 16.201 4.07522 16.5199C4.13918 17.3213 4.17115 17.722 4.28923 18.0563C4.56233 18.8295 5.17051 19.4377 5.94371 19.7108C6.278 19.8288 6.6787 19.8608 7.48008 19.9248C7.79903 19.9502 7.95851 19.963 8.1121 19.9933C8.46417 20.0628 8.79896 20.2015 9.09706 20.4013C9.22711 20.4884 9.34887 20.5922 9.5924 20.7997C10.2043 21.3212 10.5102 21.5819 10.8301 21.7348C11.57 22.0884 12.43 22.0884 13.1699 21.7348C13.4898 21.5819 13.7957 21.3212 14.4076 20.7997C14.6511 20.5922 14.7729 20.4884 14.9029 20.4013C15.201 20.2015 15.5358 20.0628 15.8879 19.9933C16.0415 19.963 16.201 19.9502 16.5199 19.9248C17.3213 19.8608 17.722 19.8288 18.0563 19.7108C18.8295 19.4377 19.4377 18.8295 19.7108 18.0563C19.8288 17.722 19.8608 17.3213 19.9248 16.5199C19.9502 16.201 19.963 16.0415 19.9933 15.8879C20.0628 15.5358 20.2015 15.201 20.4013 14.9029C20.4884 14.7729 20.5922 14.6511 20.7997 14.4076C21.3212 13.7957 21.5819 13.4898 21.7348 13.1699C22.0884 12.43 22.0884 11.57 21.7348 10.8301C21.5819 10.5102 21.3212 10.2043 20.7997 9.5924C20.5922 9.34887 20.4884 9.22711 20.4013 9.09706C20.2015 8.79896 20.0628 8.46417 19.9933 8.1121C19.963 7.95851 19.9502 7.79903 19.9248 7.48008C19.8608 6.6787 19.8288 6.278 19.7108 5.94371C19.4377 5.17051 18.8295 4.56233 18.0563 4.28923C17.722 4.17115 17.3213 4.13918 16.5199 4.07522C16.201 4.04977 16.0415 4.03705 15.8879 4.00672C15.5358 3.93721 15.201 3.79854 14.9029 3.59874C14.7729 3.51158 14.6511 3.40781 14.4076 3.20027C13.7957 2.67883 13.4898 2.41811 13.1699 2.26522C12.43 1.91159 11.57 1.91159 10.8301 2.26522C10.5102 2.4181 10.2043 2.67883 9.5924 3.20027ZM16.3735 9.86314C16.6913 9.5453 16.6913 9.03 16.3735 8.71216C16.0557 8.39433 15.5403 8.39433 15.2225 8.71216L10.3723 13.5624L8.77746 11.9676C8.45963 11.6498 7.94432 11.6498 7.62649 11.9676C7.30866 12.2854 7.30866 12.8007 7.62649 13.1186L9.79678 15.2889C10.1146 15.6067 10.6299 15.6067 10.9478 15.2889L16.3735 9.86314Z' fill='url(%23paint0_linear_6540_10968)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6540_10968' x1='12' y1='2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231C478C'/%3E%3Cstop offset='1' stop-color='%23262E69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.partner-item {
  @apply bg-no-repeat;
  background-size: 100% 100%;
  background: lightgray 21.6px 18.347px/75.784% 54.133% no-repeat;
}

.about_history-nav .slick-next,
.about_award-nav .slick-next {
  @apply absolute right-0 top-1/2 -translate-y-1/2 fill-[#1B468D] z-10;
}
.about_history-nav .slick-prev,
.about_award-nav .slick-prev {
  @apply absolute left-0 top-1/2 -translate-y-1/2 fill-[#1B468D] z-10;
}
.about_history-nav .slick-current,
.about_award-nav .slick-current {
  @apply before:absolute before:w-[18px] before:h-[18px] before:bottom-0 before:left-1/2 before:-translate-x-1/2 before:rounded-full before:bg-center;
}
.about_history-nav .slick-current::before,
.about_award-nav .slick-current::before {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7' filter='url(%23filter0_bf_8_36)'%3E%3Cellipse cx='10.3339' cy='10.8766' rx='8.955' ry='8.95496' fill='%23235BA8'/%3E%3C/g%3E%3Cellipse cx='10.3344' cy='10.8766' rx='5.185' ry='5.18665' fill='url(%23paint0_linear_8_36)'/%3E%3Cdefs%3E%3Cfilter id='filter0_bf_8_36' x='-8.52109' y='-7.97837' width='37.7099' height='37.7099' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='4.95'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_8_36'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_8_36' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect2_foregroundBlur_8_36'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_8_36' x1='11.2374' y1='7.7646' x2='7.52324' y2='8.4884' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231B468D'/%3E%3Cstop offset='1' stop-color='%23252D69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.about_leadership-nav {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.about_leadership-nav [aria-selected=true] .svg-container {
  display: block;
}
.about_leadership-nav [aria-selected=false] .svg-container {
  display: none;
}

.bg-full {
  background-size: 100% 100%;
}

.scroll-bar-custom::-webkit-scrollbar {
  width: 4px;
}
.scroll-bar-custom::-webkit-scrollbar-track {
  background: rgba(49, 51, 63, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.scroll-bar-custom::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #235ba8;
}
.scroll-bar-custom.scroll-bar-x::-webkit-scrollbar {
  height: 3px;
}

.about_culture-swiper .is-selected .about_culture-item {
  @apply after:bg-opacity-0;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1019607843);
}
.about_culture-swiper .is-selected .about_culture-item h4 {
  @apply block;
}
.about_culture-swiper .swiper-slide-active .about_culture-item {
  @apply after:bg-opacity-0 mb-5;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1019607843);
}
.about_culture-swiper .swiper-slide-active .about_culture-item h4 {
  @apply block;
}
.about_culture-swiper .swiper-button-next,
.about_culture-swiper .swiper-button-prev {
  @apply w-10 h-10 rounded-full bg-white flex items-center justify-center -translate-y-1/2;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.about_culture-swiper .swiper-button-next {
  @apply xl:-right-12;
}
.about_culture-swiper .swiper-button-prev {
  @apply xl:-left-12;
}
.about_culture-swiper .flickity-slider {
  @apply flex items-center;
}

.featured_news .flickity-button {
  @apply lg:w-[52px] lg:h-[52px] bg-no-repeat bg-center bg-white;
  background-size: 24px;
}
.featured_news .flickity-button svg {
  @apply hidden;
}
.featured_news .flickity-button.previous {
  @apply left-0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0406 0.292893C10.4311 0.683418 10.4311 1.31658 10.0406 1.70711L3.74771 8H22.6668C23.2191 8 23.6668 8.44772 23.6668 9C23.6668 9.55229 23.2191 10 22.6668 10H3.74771L10.0406 16.2929C10.4311 16.6834 10.4311 17.3166 10.0406 17.7071C9.65008 18.0976 9.01691 18.0976 8.62639 17.7071L0.626389 9.70711C0.235865 9.31658 0.235865 8.68342 0.626389 8.29289L8.62639 0.292893C9.01691 -0.0976311 9.65008 -0.0976311 10.0406 0.292893Z' fill='%2331333F'/%3E%3C/svg%3E%0A");
}
.featured_news .flickity-button.next {
  @apply right-0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9594 17.7071C13.5689 17.3166 13.5689 16.6834 13.9594 16.2929L20.2523 10L1.33317 10C0.780888 10 0.333172 9.55228 0.333172 9C0.333172 8.44771 0.780888 8 1.33317 8L20.2523 8L13.9594 1.70711C13.5689 1.31658 13.5689 0.683416 13.9594 0.292893C14.3499 -0.0976314 14.9831 -0.0976314 15.3736 0.292893L23.3736 8.29289C23.7641 8.68342 23.7641 9.31658 23.3736 9.70711L15.3736 17.7071C14.9831 18.0976 14.3499 18.0976 13.9594 17.7071Z' fill='%2331333F'/%3E%3C/svg%3E%0A");
}

.select_custom {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9336 0.816895H5.74195H1.06695C0.266945 0.816895 -0.133055 1.78356 0.433612 2.35023L4.75028 6.66689C5.44195 7.35856 6.56695 7.35856 7.25861 6.66689L8.90028 5.02523L11.5753 2.35023C12.1336 1.78356 11.7336 0.816895 10.9336 0.816895Z' fill='%23292D32'/%3E%3C/svg%3E%0A") !important;
  background-size: 12px !important;
}

.select_custom-2 {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.930571 0.739459C1.20014 0.424965 1.67361 0.388544 1.98811 0.65811L8.50001 6.23974L15.0119 0.658111C15.3264 0.388544 15.7999 0.424965 16.0695 0.73946C16.339 1.05395 16.3026 1.52743 15.9881 1.797L8.98811 7.797C8.70724 8.03774 8.29279 8.03774 8.01192 7.797L1.01192 1.797C0.697426 1.52743 0.661005 1.05395 0.930571 0.739459Z' fill='%2331333F'/%3E%3C/svg%3E%0A") !important;
  background-position: right 1.5rem center !important;
  background-size: 16px !important;
}

.community_nav-item.active > svg .com-svg-path {
  fill: url(#gradientFill);
}
.community_nav-item.active .icon svg path {
  @apply transition-all duration-500;
  fill: #fff;
  stroke: #fff;
}
.community_nav-item > svg .com-svg-path {
  fill: white;
}
.community_nav-item:nth-child(2) {
  @apply -translate-x-[20px] translate-y-5;
}
.community_nav-item:nth-child(3) {
  @apply translate-x-[130px] -translate-y-[60px];
}
.community_nav-item:nth-child(4) {
  @apply -translate-x-1 translate-y-20;
}

.community_content-bg {
  @apply max-h-full h-full;
}
.community_content-bg .slick-list {
  @apply max-h-full h-full;
}
.community_content-bg .item {
  @apply max-h-full;
}
.community_content-bg .item::after {
  @apply absolute w-full h-full pointer-events-none inset-0;
  filter: blur(0.5px);
  content: "";
  background: linear-gradient(0deg, rgba(157, 185, 230, 0.15), rgba(164, 177, 198, 0.25)), linear-gradient(266.22deg, rgba(248, 253, 254, 0) -13.47%, rgba(255, 255, 255, 0.62) 52.77%, #ffffff 63.79%);
}
.community_content-bg .slick-track {
  @apply h-full;
}

.community_content-list .slick-dots {
  @apply mt-9;
}

.slick-dots {
  @apply flex gap-2 mt-3;
}
.slick-dots .dot {
  @apply inline-block w-3 h-3 rounded-full bg-primary-400 bg-opacity-50 transition-all duration-500 cursor-pointer;
}
.slick-dots .slick-active .dot {
  @apply w-[50px] bg-opacity-100;
}

.chart .apexcharts-legend {
  @apply lg:max-w-[50%];
}
.chart .apexcharts-legend .apexcharts-legend-series {
  @apply rounded-lg bg-[#F8F8FF] uppercase 2xl:px-4 px-2 2xl:py-[12px] py-2;
}

.legend-gap .apexcharts-legend-series {
  @apply gap-2 text-paragraph text-xs;
}
.legend-gap .apexcharts-legend {
  @apply gap-5;
}
.legend-gap .apexcharts-legend-text {
  font-size: 14px !important;
}

.subscribe {
  @apply flex lg:justify-between items-center gap-x-2 py-1 px-2 rounded-[10px] border border-[#4A5568] border-opacity-30 bg-white relative lg:max-w-[50%] lg:-mt-14 lg:ml-auto;
}
.subscribe input {
  @apply border-none focus:outline-0 focus:ring-transparent max-w-full pl-0 placeholder:text-black lg:font-normal font-medium flex-1 md:text-base text-xs;
}
.subscribe .wpcf7-form-control-wrap {
  @apply flex-1 2xl:max-w-[64%] lg:max-w-[50%] max-w-[66%] lg:text-base text-xs;
}
.subscribe button {
  @apply whitespace-nowrap px-4 md:min-w-[97px] lg:h-[38px] h-[30px] py-1 ml-auto sm:text-base text-xs;
}
.subscribe svg {
  @apply shrink-0;
}

.chart-info .subscribe {
  @apply lg:-mt-10;
}

#leader-modal .main__content p {
  @apply mb-4;
}
#leader-modal .main__content ul {
  @apply max-h-[270px] overflow-y-auto space-y-[12px] pr-4;
}
#leader-modal .main__content ul::-webkit-scrollbar {
  width: 4px;
}
#leader-modal .main__content ul::-webkit-scrollbar-track {
  background: rgba(49, 51, 63, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#leader-modal .main__content ul::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #235ba8;
}
#leader-modal .main__content ul li strong {
  @apply font-medium;
}

.sidebar-report .has-child {
  @apply flex items-center flex-wrap rounded-tr-xl rounded-br-xl relative bg-[#ebf4fa];
}
.sidebar-report .has-child.active {
  @apply bg-primary-300 text-white;
}
.sidebar-report .has-child.active > a {
  @apply bg-primary-300;
}
.sidebar-report .has-child.active:hover > a {
  background-color: #235ba8 !important;
}
.sidebar-report .has-child a {
  @apply w-full 2xl:pr-10 pr-8;
}
.sidebar-report .has-child .li-plus {
  @apply absolute top-[14px] 2xl:right-3 right-1.5;
}
.sidebar-report .has-child .li-plus.active {
  @apply rotate-180;
}

.form_cv .wpcf7-form-control-wrap {
  @apply w-full max-w-full;
}
.form_cv .wpcf7-form-control-wrap input {
  @apply w-full max-w-full;
}
.form_cv .group-submit {
  @apply 2xl:mt-[30px] mt-5;
}
.form_cv .form-group {
  @apply [&:not(:last-child)]:mb-3;
}
.form_cv .form-group input {
  @apply rounded-[10px] border border-[#999999] focus:outline-0 focus:border-primary-400 focus:ring-transparent text-xs 2xl:h-14 h-10 px-5 text-[#000] font-medium placeholder:font-medium;
}
.form_cv .form-group .upload-label {
  margin-bottom: 15px;
}
.form_cv .upload_file-wrapper {
  background-image: url("data:image/svg+xml,%3Csvg width='500' height='171' viewBox='0 0 500 171' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='499' height='170' rx='9.5' fill='%23F9F9F9'/%3E%3Crect x='0.5' y='0.5' width='499' height='170' rx='9.5' stroke='%23295CA9' stroke-dasharray='6 6'/%3E%3C/svg%3E%0A");
  @apply relative rounded-[10px] 2xl:min-h-[170px] min-h-[120px] flex justify-center items-center flex-col cursor-pointer bg-no-repeat bg-full;
}
.form_cv .upload_file-wrapper input[type=file] {
  @apply hidden;
}
.form_cv .upload_file-wrapper .upload_file::before {
  @apply inline-block translate-y-[6px] mr-3;
  content: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4206 8.72038C17.8096 7.31639 16.7551 6.15146 15.4187 5.40411C14.0823 4.65676 12.5377 4.36822 11.0216 4.58269C9.5055 4.79717 8.10155 5.50284 7.02488 6.59156C5.94821 7.68028 5.25821 9.092 5.06062 10.6104C4.10721 10.8387 3.27084 11.4092 2.71036 12.2136C2.14988 13.0179 1.90431 14.0001 2.02029 14.9736C2.13627 15.9471 2.60572 16.8441 3.33949 17.4942C4.07326 18.1444 5.02025 18.5024 6.00062 18.5004C6.26584 18.5004 6.52019 18.395 6.70773 18.2075C6.89527 18.02 7.00062 17.7656 7.00062 17.5004C7.00062 17.2352 6.89527 16.9808 6.70773 16.7933C6.52019 16.6057 6.26584 16.5004 6.00062 16.5004C5.47019 16.5004 4.96148 16.2897 4.58641 15.9146C4.21134 15.5395 4.00062 15.0308 4.00062 14.5004C4.00062 13.97 4.21134 13.4612 4.58641 13.0862C4.96148 12.7111 5.47019 12.5004 6.00062 12.5004C6.26584 12.5004 6.52019 12.395 6.70773 12.2075C6.89527 12.02 7.00062 11.7656 7.00062 11.5004C7.00318 10.3177 7.42491 9.17414 8.19089 8.27297C8.95688 7.3718 10.0175 6.77133 11.1844 6.57826C12.3512 6.38518 13.5488 6.61199 14.5642 7.21839C15.5796 7.82479 16.3472 8.77152 16.7306 9.89038C16.7878 10.0622 16.8905 10.2153 17.0279 10.3333C17.1653 10.4513 17.3321 10.5298 17.5106 10.5604C18.1767 10.6863 18.7805 11.034 19.2236 11.5469C19.6668 12.0598 19.9232 12.7077 19.951 13.385C19.9789 14.0623 19.7765 14.7291 19.3769 15.2766C18.9774 15.8242 18.4041 16.2203 17.7506 16.4004C17.4934 16.4667 17.273 16.6325 17.138 16.8613C17.0029 17.0901 16.9643 17.3631 17.0306 17.6204C17.0969 17.8776 17.2627 18.098 17.4915 18.2331C17.7203 18.3681 17.9934 18.4067 18.2506 18.3404C19.303 18.0623 20.2359 17.4484 20.9076 16.5918C21.5794 15.7353 21.9532 14.683 21.9725 13.5947C21.9917 12.5063 21.6552 11.4414 21.0142 10.5617C20.3731 9.68198 19.4625 9.03548 18.4206 8.72038ZM12.7106 10.7904C12.6155 10.6993 12.5034 10.628 12.3806 10.5804C12.1372 10.4804 11.8641 10.4804 11.6206 10.5804C11.4979 10.628 11.3857 10.6993 11.2906 10.7904L8.29062 13.7904C8.10232 13.9787 7.99653 14.2341 7.99653 14.5004C7.99653 14.7667 8.10232 15.0221 8.29062 15.2104C8.47893 15.3987 8.73432 15.5045 9.00062 15.5045C9.26692 15.5045 9.52232 15.3987 9.71062 15.2104L11.0006 13.9104V19.5004C11.0006 19.7656 11.106 20.02 11.2935 20.2075C11.4811 20.395 11.7354 20.5004 12.0006 20.5004C12.2658 20.5004 12.5202 20.395 12.7077 20.2075C12.8953 20.02 13.0006 19.7656 13.0006 19.5004V13.9104L14.2906 15.2104C14.3836 15.3041 14.4942 15.3785 14.616 15.4293C14.7379 15.48 14.8686 15.5062 15.0006 15.5062C15.1326 15.5062 15.2633 15.48 15.3852 15.4293C15.5071 15.3785 15.6177 15.3041 15.7106 15.2104C15.8044 15.1174 15.8787 15.0068 15.9295 14.885C15.9803 14.7631 16.0064 14.6324 16.0064 14.5004C16.0064 14.3684 15.9803 14.2377 15.9295 14.1158C15.8787 13.9939 15.8044 13.8833 15.7106 13.7904L12.7106 10.7904Z' fill='%23235BA8'/%3E%3C/svg%3E%0A");
}
.form_cv button[type=submit] {
  @apply 2xl:h-14 h-10 py-2 font-bold font-body;
}
.form_cv .iti__country-container {
  @apply text-xs;
}

.shadow-blue {
  box-shadow: 0px 4px 20px 0px rgba(0, 103, 223, 0.2);
}

.slick-dots-center .slick-dots {
  @apply justify-center;
}

.utilities_button-hover:hover {
  background-color: rgba(34, 95, 191, 0.5);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 24px 0px inset;
}

.rank-math-breadcrumb {
  @apply text-lg;
}
.rank-math-breadcrumb .separator {
  @apply px-3;
}
.rank-math-breadcrumb a {
  @apply font-bold;
}

.partner_list {
  @apply after:absolute after:left-0 after:top-0 after:w-20 after:h-full before:absolute before:right-0 lg:before:w-80 before:w-20 before:h-full before:top-0;
}
.partner_list::after {
  background: linear-gradient(270deg, rgba(229, 240, 255, 0) 0%, #e5f0ff 100%);
  z-index: 2;
}
.partner_list:before {
  background: linear-gradient(81deg, rgba(229, 240, 255, 0) 0%, #e5f0ff 100%);
  z-index: 2;
}

button#ib-button-messaging {
  display: none;
}

.no-transform {
  transform: none !important;
}

.utilities_button-list {
  @apply top-[180px];
}
@media only screen and (min-width: 1280px) {
  .utilities_button-list {
    @apply top-1/4;
  }
}
@media only screen and (min-width: 1366px) {
  .utilities_button-list {
    @apply top-[25%];
  }
}
@media only screen and (min-width: 1380px) {
  .utilities_button-list {
    @apply top-[35%];
  }
}
@media only screen and (min-width: 1600px) {
  .utilities_button-list {
    @apply top-[20%];
  }
}

.award__item {
  @apply rounded-2xl;
}
.award__item.active {
  @apply rounded-tr-none rounded-br-none grow-[2.5] last:rounded-tl-none last:rounded-bl-none;
}
.award__item.active .award__item-content {
  @apply w-2/3 visible opacity-100 h-auto;
}
.award__item.active .award__item-nav {
  @apply w-1/3;
}
.award__item:not(:first-child) {
  @apply -ml-4;
  box-shadow: -2px 0px 30px 0px rgba(0, 0, 0, 0.08);
}
.award__item .rotate svg {
  @apply rotate-180;
}

.form_support {
  box-shadow: 0px 4px 30px 0px rgba(43, 94, 170, 0.1);
}
.form_support .form-group {
  @apply mb-8;
}
.form_support .form-group input,
.form_support .form-group textarea {
  @apply w-full rounded-[10px] px-5 py-2 border border-[#AAA];
}
.form_support .form-group input {
  @apply lg:h-[52px] h-11 placeholder:text-black text-black placeholder:opacity-30;
}
.form_support .form-group textarea {
  @apply h-[133px] pt-4 placeholder:opacity-30;
}
.form_support .form-group-flex {
  @apply flex gap-[14px];
}
.form_support .form-group label {
  @apply inline-block bg-white px-3 text-[#4A5568] text-xs absolute z-[2] -top-3 left-2;
}
.form_support .wpcf7-spinner {
  @apply bottom-0 right-0 top-[unset];
}
.form_support button {
  @apply block ml-auto -mt-2 font-body min-w-[157px] text-xs;
}

.flickity-button {
  @apply w-[52px] h-[52px] bg-opacity-70 bg-no-repeat bg-center hover:bg-opacity-100 hover:bg-no-repeat hover:bg-center focus:shadow-none;
}
.flickity-button .flickity-button-icon {
  @apply hidden;
}
.flickity-button.previous {
  @apply lg:-left-4;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0411 7.29289C14.4316 7.68342 14.4316 8.31658 14.0411 8.70711L7.7482 15H26.6673C27.2196 15 27.6673 15.4477 27.6673 16C27.6673 16.5523 27.2196 17 26.6673 17H7.7482L14.0411 23.2929C14.4316 23.6834 14.4316 24.3166 14.0411 24.7071C13.6506 25.0976 13.0174 25.0976 12.6269 24.7071L4.62688 16.7071C4.23635 16.3166 4.23635 15.6834 4.62688 15.2929L12.6269 7.29289C13.0174 6.90237 13.6506 6.90237 14.0411 7.29289Z' fill='%23235BA8'/%3E%3C/svg%3E%0A");
}
.flickity-button.next {
  @apply lg:-right-4;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9589 24.7071C17.5684 24.3166 17.5684 23.6834 17.9589 23.2929L24.2518 17L5.33268 17C4.7804 17 4.33268 16.5523 4.33268 16C4.33268 15.4477 4.7804 15 5.33268 15L24.2518 15L17.9589 8.7071C17.5684 8.31658 17.5684 7.68342 17.9589 7.29289C18.3494 6.90237 18.9826 6.90237 19.3731 7.29289L27.3731 15.2929C27.7636 15.6834 27.7636 16.3166 27.3731 16.7071L19.3731 24.7071C18.9826 25.0976 18.3494 25.0976 17.9589 24.7071Z' fill='%23235BA8'/%3E%3C/svg%3E%0A");
}

.content_prose ul > li ol {
  @apply font-normal;
}
.content_prose li strong {
  @apply font-medium;
}
.content_prose span > strong,
.content_prose li strong,
.content_prose a strong {
  @apply inline-block before:hidden font-bold;
}
.content_prose a strong {
  @apply font-bold;
}
.content_prose mark {
  @apply bg-transparent font-medium;
}
.content_prose ul > li > span:nth-child(1) > strong,
.content_prose ul > li > strong:nth-child(1) {
  @apply mr-3;
}

.font-content * {
  font-family: "Helvetica Neue", sans-serif !important;
}

.sidebar-base li .li-plus {
  @apply rotate-0;
}
.sidebar-base li.active .li-plus {
  @apply rotate-180;
}
.sidebar-base li.active .li-plus.active {
  @apply rotate-0;
}

.custom-table thead > tr:first-child th:first-child {
  @apply px-[18px] py-5;
}
.custom-table thead th {
  @apply bg-[#DFF2FF] text-primary-400;
}
.custom-table table tbody tr td:first-child {
  @apply px-[18px] py-5;
}
.custom-table table ul {
  @apply text-base mb-0;
}

.content-contact p:has(+ ul) {
  @apply mb-0;
}

.map-item iframe {
  @apply w-full h-full absolute inset-0 object-cover max-w-full max-h-full block rounded-2xl;
}

.step-item {
  background-image: url("data:image/svg+xml,%3Csvg width='337' height='189' viewBox='0 0 337 189' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.507812 179.958V1.0422C0.507812 1.01889 0.526707 1 0.550011 1H261.375C263.834 1 266.157 2.13092 267.673 4.06678L334.615 89.5265C336.898 92.4405 336.883 96.5398 334.58 99.4375L266.623 184.936C265.106 186.845 262.8 187.958 260.361 187.958H8.50781C4.08953 187.958 0.507812 184.376 0.507812 179.958Z' fill='white' stroke='%23E7E7E7'/%3E%3C/svg%3E%0A");
}

.step-item {
  @apply hover:text-white;
}
.step-item:nth-child(1) {
  z-index: 4;
}
.step-item:nth-child(2) {
  z-index: 3;
  transform: translateX(-80px);
}
.step-item:nth-child(3) {
  z-index: 2;
  transform: translateX(-160px);
}
.step-item:nth-child(4) {
  z-index: 1;
  transform: translateX(-240px);
}
.step-item:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='337' height='189' viewBox='0 0 322 189' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.53125 179.958V9C0.53125 4.58172 4.11297 1 8.53125 1H249.522C252.042 1 254.416 2.18809 255.926 4.20615L319.894 89.6669C322.033 92.5255 322.019 96.4559 319.86 99.2994L254.924 184.797C253.412 186.789 251.055 187.958 248.554 187.958H8.53125C4.11297 187.958 0.53125 184.376 0.53125 179.958Z' fill='url(%23paint0_linear_7234_17431)' stroke='%23E7E7E7'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_7234_17431' x1='0.53125' y1='92.7117' x2='323.508' y2='92.7117' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231C478C'/%3E%3Cstop offset='1' stop-color='%23262E69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.slider-tutorial .flickity-button {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
  @apply w-10 h-10 bg-white transition-all duration-500 hover:bg-primary-300;
}
.slider-tutorial .flickity-button.next {
  @apply xl:-right-14;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3758 10.8237L12.1258 4.57373C11.9008 4.33623 11.5883 4.19873 11.2383 4.19873C10.5508 4.19873 9.98828 4.76123 9.98828 5.44873C9.98828 5.79873 10.1258 6.11123 10.3508 6.33623L14.4633 10.4487L2.48828 10.4487C1.80078 10.4487 1.23828 11.0112 1.23828 11.6987C1.23828 12.3862 1.80078 12.9487 2.48828 12.9487L14.4758 12.9487L10.3633 17.0612C10.1383 17.2862 10.0008 17.5987 10.0008 17.9487C10.0008 18.6362 10.5633 19.1987 11.2508 19.1987C11.6008 19.1987 11.9133 19.0612 12.1383 18.8362L18.3883 12.5862C18.6133 12.3612 18.7508 12.0487 18.7508 11.6987C18.7508 11.3487 18.6008 11.0487 18.3758 10.8237Z' fill='%23235BA8'/%3E%3C/svg%3E");
}
.slider-tutorial .flickity-button.next:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3758 10.8237L12.1258 4.57373C11.9008 4.33623 11.5883 4.19873 11.2383 4.19873C10.5508 4.19873 9.98828 4.76123 9.98828 5.44873C9.98828 5.79873 10.1258 6.11123 10.3508 6.33623L14.4633 10.4487L2.48828 10.4487C1.80078 10.4487 1.23828 11.0112 1.23828 11.6987C1.23828 12.3862 1.80078 12.9487 2.48828 12.9487L14.4758 12.9487L10.3633 17.0612C10.1383 17.2862 10.0008 17.5987 10.0008 17.9487C10.0008 18.6362 10.5633 19.1987 11.2508 19.1987C11.6008 19.1987 11.9133 19.0612 12.1383 18.8362L18.3883 12.5862C18.6133 12.3612 18.7508 12.0487 18.7508 11.6987C18.7508 11.3487 18.6008 11.0487 18.3758 10.8237Z' fill='%23fff'/%3E%3C/svg%3E");
}
.slider-tutorial .flickity-button.previous {
  @apply xl:-left-14;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.62422 10.9331L7.87422 17.1831C8.09922 17.4206 8.41172 17.5581 8.76172 17.5581C9.44922 17.5581 10.0117 16.9956 10.0117 16.3081C10.0117 15.9581 9.87422 15.6456 9.64922 15.4206L5.53672 11.3081L17.5117 11.3081C18.1992 11.3081 18.7617 10.7456 18.7617 10.0581C18.7617 9.37061 18.1992 8.80811 17.5117 8.80811L5.52422 8.80811L9.63672 4.69561C9.86172 4.47061 9.99922 4.15811 9.99922 3.80811C9.99922 3.12061 9.43672 2.55811 8.74922 2.55811C8.39922 2.55811 8.08672 2.69561 7.86172 2.92061L1.61172 9.17061C1.38672 9.39561 1.24922 9.70811 1.24922 10.0581C1.24922 10.4081 1.39922 10.7081 1.62422 10.9331Z' fill='%23235BA8'/%3E%3C/svg%3E");
}
.slider-tutorial .flickity-button.previous:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.62422 10.9331L7.87422 17.1831C8.09922 17.4206 8.41172 17.5581 8.76172 17.5581C9.44922 17.5581 10.0117 16.9956 10.0117 16.3081C10.0117 15.9581 9.87422 15.6456 9.64922 15.4206L5.53672 11.3081L17.5117 11.3081C18.1992 11.3081 18.7617 10.7456 18.7617 10.0581C18.7617 9.37061 18.1992 8.80811 17.5117 8.80811L5.52422 8.80811L9.63672 4.69561C9.86172 4.47061 9.99922 4.15811 9.99922 3.80811C9.99922 3.12061 9.43672 2.55811 8.74922 2.55811C8.39922 2.55811 8.08672 2.69561 7.86172 2.92061L1.61172 9.17061C1.38672 9.39561 1.24922 9.70811 1.24922 10.0581C1.24922 10.4081 1.39922 10.7081 1.62422 10.9331Z' fill='%23fff'/%3E%3C/svg%3E");
}
.slider-tutorial .flickity-viewport {
  @apply rounded-[20px] overflow-hidden;
}

.expert-item:first-child .expert-item-desc {
  @apply bg-[#E5F5FF];
}
.expert-item:first-child .expert-item-desc:before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e5f5ff 83.01%);
}
.expert-item:nth-child(2) .expert-item-desc {
  @apply bg-[#009E871A];
}
.expert-item:nth-child(2) .expert-item-desc:before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #d9f1f3 83.01%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e5f5ff 83.01%);
}
.expert-item:nth-child(3) .expert-item-desc {
  @apply bg-[#FFB81C1A];
}
.expert-item:nth-child(3) .expert-item-desc:before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f1f3e9 83.01%);
}
.expert-item:nth-child(4) .expert-item-desc {
  @apply bg-[#EBF4FA];
}
.expert-item:nth-child(4) .expert-item-desc:before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ebf4fa 83.01%);
}

#expert-modal .expert-btn a {
  @apply text-white;
}

.pagination-center .bsc-pagination {
  @apply mt-10;
}
.pagination-center nav {
  @apply justify-center;
}

.slider-tutorial:not(.dmkm) .desc {
  @apply lg:w-[305px];
}
.slider-tutorial:not(.dmkm) img {
  @apply lg:w-[70%] lg:object-[65%];
}
.slider-tutorial:not(.dmkm) .is-selected .desc {
  @apply lg:w-[356px];
}
.slider-tutorial:not(.dmkm) .is-selected img {
  @apply lg:w-full object-center;
}
.slider-tutorial:not(.dmkm) .is-selected br {
  @apply hidden;
}

.bg-blur {
  background-image: url("data:image/svg+xml,%3Csvg width='745' height='569' viewBox='0 0 745 569' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_9169_40340)'%3E%3Crect width='745' height='568.271' rx='10' fill='white' fill-opacity='0.2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_9169_40340' x='-8' y='-8' width='761' height='584.271' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='4'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_9169_40340'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_9169_40340' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.form_report input {
  @apply w-full h-[52px] px-5 rounded-[10px] font-Helvetica placeholder:text-black border placeholder:text-opacity-45 border-[#aaa];
}
.form_report button {
  @apply mt-6 relative left-1/2 -translate-x-1/2;
}

.datepicker-cell.selected {
  @apply bg-green;
}

.datepicker-controls button {
  @apply p-2.5;
}
.datepicker-controls svg {
  @apply w-4 h-4 text-gray-800;
}

.performance-chart .subscribe {
  @apply lg:w-[447px] pl-[17px];
}

.nav-ttcp li .has-icon {
  @apply hover:text-yellow-100 after:bg-yellow-100;
}
.nav-ttcp li .has-icon:hover {
  color: #ffb81c !important;
}
.nav-ttcp li .has-icon:hover::after {
  background-color: #ffb81c !important;
}
.nav-ttcp li .has-icon.active {
  @apply text-yellow-100 after:bg-yellow-100;
}

.datatable-bottom {
  @apply mt-10;
}
.datatable-bottom .datatable-info {
  @apply hidden;
}
.datatable-bottom .datatable-pagination {
  @apply flex items-center justify-center flex-row-reverse gap-8;
}

.datatable-dropdown label {
  @apply text-[0px];
}
.datatable-dropdown .datatable-selector {
  @apply border border-[#898A8D] text-xs rounded px-3 inline-block h-9 py-0 font-medium pr-8 focus:outline-0 focus:ring-0;
}

.datatable-pagination-list {
  @apply flex items-center gap-[11px] h-9 text-base;
}
.datatable-pagination-list li {
  @apply flex items-center justify-center min-w-9 h-9 rounded text-xs font-bold leading-tight [&:not(.datatable-active)]:border border-transparent [&:not(.datatable-active)]:border-[#898A8D] [&:not(.datatable-active)]:bg-white bg-primary-300 [&:not(.datatable-active)]:text-black text-white hover:bg-primary-300 hover:text-white hover:border-transparent transition-all duration-500;
}
.datatable-pagination-list li button {
  @apply block w-full h-full;
}
.datatable-pagination-list li:first-child {
  @apply text-[0px] bg-no-repeat bg-center border-0;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 7.05957L9.5 12.0596L14.5 17.0596' stroke='%23453F3F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datatable-pagination-list li:last-child {
  @apply text-[0px] bg-no-repeat bg-center border-0;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 7.05957L15.5 12.0596L10.5 17.0596' stroke='%23453F3F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.shares-result a {
  @apply transition-all duration-500 hover:bg-primary-200 hover:text-primary-300 rounded;
}

.home_news .flickity-page-dots {
  @apply -bottom-6;
}
.home_news .flickity-page-dots .dot {
  @apply mx-1;
}
.home_news .flickity-page-dots .dot.is-selected {
  @apply bg-primary-300;
}

/*# sourceMappingURL=base.css.map */
