@charset "UTF-8";
/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */
/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
.dots-white .flickity-page-dots .dot {
  @apply opacity-100;
  background-color: white;
}

.dots-blue .flickity-page-dots .dot {
  @apply opacity-100;
  background-color: theme("colors.primary.300");
}

.block_slider-show-1:not(.flickity-enabled) {
  @apply flex overflow-hidden;
}
.block_slider-show-1:not(.flickity-enabled) .block_slider-item:nth-child(n+2) {
  @apply hidden;
}

.block_slider-show-2:not(.flickity-enabled) {
  @apply flex overflow-hidden;
}
.block_slider-show-2:not(.flickity-enabled) .block_slider-item:nth-child(n+3) {
  @apply hidden;
}

@layer components {
  @screen lg {
    .menu_top li {
      @apply [&:not(:last-child)]:mr-6 [&:not(:last-child)]:pr-6 [&:not(:last-child)]:border-r [&:not(:last-child)]:border-white leading-none;
    }
    .menu_top li a {
      @apply block transition-all duration-500 hover:text-yellow-100;
    }
    .main_menu > ul > li {
      @apply relative after:absolute after:bottom-0 after:left-0 after:w-full after:transition-all after:duration-500 after:bg-yellow-100 after:h-[1px] hover:after:w-full hover:text-yellow-100 before:left-0 [&:not(.active)]:after:w-0 [&:not(.active)]:text-black text-yellow-100;
    }
    .main_menu > ul > li a {
      @apply block transition-all duration-500;
    }
    .main_menu-navbar {
      @apply flex transition-all duration-500  [&:not(.active)]:pointer-events-none [&:not(.active)]:invisible [&:not(.active)]:opacity-0 [&:not(.active)]:-z-10 z-20 opacity-100 visible pointer-events-auto;
    }
    .main_menu-navbar > .submenu-wrapper {
      @apply w-1/3;
    }
    .main_menu-navbar > .submenu-wrapper > li {
      @apply transition-all duration-500 pl-5 text-xl [&:not(:last-child)]:mb-5 relative before:absolute before:w-2 before:h-2 before:bg-primary-700 before:left-0 before:top-3 before:transition-all before:duration-500 hover:text-primary-700 hover:before:opacity-100 hover:font-bold [&:not(.active)]:text-menu text-primary-700 [&:not(.active)]:before:opacity-0 before:opacity-100 [&:not(.active)]:font-semibold font-bold;
    }
    .main_menu-navbar > .submenu-wrapper > li a {
      @apply block;
    }
    .main_menu-navbar > .submenu-wrapper .sub-menu {
      @apply hidden;
    }
    .main_menu-navbar > .submenu-content {
      @apply w-2/3 overflow-hidden max-h-0 transition-all duration-500;
    }
    .main_menu-navbar > .submenu-content > li {
      @apply text-menu  [&:not(:last-child)]:border-b [&:not(:last-child)]:border-[#E1E1E1] [&:not(:last-child)]:border-opacity-50 [&:not(:last-child)]:mb-6 pb-1 leading-normal;
    }
    .main_menu-navbar > .submenu-content > li > a {
      @apply flex gap-[12px] uppercase transition-all duration-500 hover:text-yellow-100 font-bold;
    }
    .main_menu-navbar > .submenu-content .sub-menu {
      @apply grid grid-cols-3 gap-3 mt-5;
    }
    .main_menu-navbar > .submenu-content .sub-menu a {
      @apply transition-all duration-500 hover:text-yellow-100 font-medium;
    }
    .footer-item li a {
      @apply transition-all duration-500 hover:text-yellow-100;
    }
  }
}
.form_newsletter {
  @apply bg-white bg-opacity-30 rounded-[10px] border border-white py-3 pr-2 pl-4 flex gap-x-4 items-center;
}
.form_newsletter input {
  @apply bg-transparent border-none focus:outline-0 flex-1 text-white placeholder:text-white focus:border-none;
}

.home__banner .flickity-viewport {
  @apply max-h-full;
}

.flickity-page-dots {
  @apply bottom-9;
}
.flickity-page-dots .dot {
  @apply transition-all duration-500;
}
.flickity-page-dots .dot.is-selected {
  @apply w-[50px] rounded-[5px];
}

.heading-title {
  @apply uppercase font-bold lg:text-[32px] text-2xl [&:not(.text-center)]:bg-no-repeat [&:not(.text-center)]:bg-contain [&:not(.text-center)]:bg-left [&:not(.text-center)]:pl-14 [&:not(.text-center)]:block flex justify-center items-center gap-6 leading-snug;
}
.heading-title:not(.text-center) {
  background-image: url("data:image/svg+xml,%3Csvg width='45' height='47' viewBox='0 0 45 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.9415 9.90088V21.1323L24.568 29.5821V20.1351C24.568 19.9008 24.5221 19.6687 24.433 19.4522C24.3438 19.2357 24.2132 19.039 24.0485 18.8733C23.8838 18.7076 23.6882 18.5762 23.473 18.4865C23.2578 18.3968 23.0271 18.3507 22.7942 18.3507H13.4033L21.7768 9.92712L32.9415 9.90088Z' fill='%232A5CAA'/%3E%3Cpath d='M32.9401 1.66184V9.90171H21.7755L13.402 18.3253H1.92428C1.72005 18.3224 1.52112 18.2593 1.35222 18.1437C1.18332 18.0282 1.05185 17.8654 0.974087 17.6754C0.89632 17.4854 0.875711 17.2766 0.914779 17.0749C0.953847 16.8733 1.05089 16.6875 1.19388 16.5408L17.054 0.717143C17.4022 0.371784 17.8693 0.174465 18.3582 0.166071H31.4011C31.6043 0.164339 31.8058 0.203108 31.9941 0.28014C32.1823 0.357171 32.3535 0.470935 32.4978 0.614877C32.6421 0.758818 32.7567 0.930086 32.8348 1.11879C32.913 1.30749 32.9532 1.5099 32.9532 1.71433' fill='%23FDB525'/%3E%3Cpath d='M44.1046 11.4623V27.6009C44.1017 28.0939 43.9048 28.5657 43.5568 28.9129L26.3272 46.0881C26.1838 46.233 26.0011 46.332 25.802 46.3728C25.6028 46.4135 25.3962 46.3941 25.208 46.3169C25.0198 46.2398 24.8585 46.1084 24.7443 45.9393C24.6302 45.7702 24.5683 45.5708 24.5664 45.3664V29.5821L32.9399 21.1585V9.90088H42.5655C42.9737 9.90088 43.3652 10.064 43.6538 10.3543C43.9425 10.6447 44.1046 11.0385 44.1046 11.4491' fill='%23009C88'/%3E%3C/svg%3E%0A");
}
.heading-title.text-center::before {
  @apply translate-y-1;
  content: url("data:image/svg+xml,%3Csvg width='40' height='46' viewBox='0 0 45 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.9415 9.90088V21.1323L24.568 29.5821V20.1351C24.568 19.9008 24.5221 19.6687 24.433 19.4522C24.3438 19.2357 24.2132 19.039 24.0485 18.8733C23.8838 18.7076 23.6882 18.5762 23.473 18.4865C23.2578 18.3968 23.0271 18.3507 22.7942 18.3507H13.4033L21.7768 9.92712L32.9415 9.90088Z' fill='%232A5CAA'/%3E%3Cpath d='M32.9401 1.66184V9.90171H21.7755L13.402 18.3253H1.92428C1.72005 18.3224 1.52112 18.2593 1.35222 18.1437C1.18332 18.0282 1.05185 17.8654 0.974087 17.6754C0.89632 17.4854 0.875711 17.2766 0.914779 17.0749C0.953847 16.8733 1.05089 16.6875 1.19388 16.5408L17.054 0.717143C17.4022 0.371784 17.8693 0.174465 18.3582 0.166071H31.4011C31.6043 0.164339 31.8058 0.203108 31.9941 0.28014C32.1823 0.357171 32.3535 0.470935 32.4978 0.614877C32.6421 0.758818 32.7567 0.930086 32.8348 1.11879C32.913 1.30749 32.9532 1.5099 32.9532 1.71433' fill='%23FDB525'/%3E%3Cpath d='M44.1046 11.4623V27.6009C44.1017 28.0939 43.9048 28.5657 43.5568 28.9129L26.3272 46.0881C26.1838 46.233 26.0011 46.332 25.802 46.3728C25.6028 46.4135 25.3962 46.3941 25.208 46.3169C25.0198 46.2398 24.8585 46.1084 24.7443 45.9393C24.6302 45.7702 24.5683 45.5708 24.5664 45.3664V29.5821L32.9399 21.1585V9.90088H42.5655C42.9737 9.90088 43.3652 10.064 43.6538 10.3543C43.9425 10.6447 44.1046 11.0385 44.1046 11.4491' fill='%23009C88'/%3E%3C/svg%3E%0A");
}

.list-icon .list-icon-item {
  @apply bg-no-repeat bg-left pl-10 bg-contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5924 3.20027C9.34888 3.4078 9.22711 3.51158 9.09706 3.59874C8.79896 3.79854 8.46417 3.93721 8.1121 4.00672C7.95851 4.03705 7.79903 4.04977 7.48008 4.07522C6.6787 4.13918 6.278 4.17115 5.94371 4.28923C5.17051 4.56233 4.56233 5.17051 4.28923 5.94371C4.17115 6.278 4.13918 6.6787 4.07522 7.48008C4.04977 7.79903 4.03705 7.95851 4.00672 8.1121C3.93721 8.46417 3.79854 8.79896 3.59874 9.09706C3.51158 9.22711 3.40781 9.34887 3.20027 9.5924C2.67883 10.2043 2.4181 10.5102 2.26522 10.8301C1.91159 11.57 1.91159 12.43 2.26522 13.1699C2.41811 13.4898 2.67883 13.7957 3.20027 14.4076C3.40778 14.6511 3.51158 14.7729 3.59874 14.9029C3.79854 15.201 3.93721 15.5358 4.00672 15.8879C4.03705 16.0415 4.04977 16.201 4.07522 16.5199C4.13918 17.3213 4.17115 17.722 4.28923 18.0563C4.56233 18.8295 5.17051 19.4377 5.94371 19.7108C6.278 19.8288 6.6787 19.8608 7.48008 19.9248C7.79903 19.9502 7.95851 19.963 8.1121 19.9933C8.46417 20.0628 8.79896 20.2015 9.09706 20.4013C9.22711 20.4884 9.34887 20.5922 9.5924 20.7997C10.2043 21.3212 10.5102 21.5819 10.8301 21.7348C11.57 22.0884 12.43 22.0884 13.1699 21.7348C13.4898 21.5819 13.7957 21.3212 14.4076 20.7997C14.6511 20.5922 14.7729 20.4884 14.9029 20.4013C15.201 20.2015 15.5358 20.0628 15.8879 19.9933C16.0415 19.963 16.201 19.9502 16.5199 19.9248C17.3213 19.8608 17.722 19.8288 18.0563 19.7108C18.8295 19.4377 19.4377 18.8295 19.7108 18.0563C19.8288 17.722 19.8608 17.3213 19.9248 16.5199C19.9502 16.201 19.963 16.0415 19.9933 15.8879C20.0628 15.5358 20.2015 15.201 20.4013 14.9029C20.4884 14.7729 20.5922 14.6511 20.7997 14.4076C21.3212 13.7957 21.5819 13.4898 21.7348 13.1699C22.0884 12.43 22.0884 11.57 21.7348 10.8301C21.5819 10.5102 21.3212 10.2043 20.7997 9.5924C20.5922 9.34887 20.4884 9.22711 20.4013 9.09706C20.2015 8.79896 20.0628 8.46417 19.9933 8.1121C19.963 7.95851 19.9502 7.79903 19.9248 7.48008C19.8608 6.6787 19.8288 6.278 19.7108 5.94371C19.4377 5.17051 18.8295 4.56233 18.0563 4.28923C17.722 4.17115 17.3213 4.13918 16.5199 4.07522C16.201 4.04977 16.0415 4.03705 15.8879 4.00672C15.5358 3.93721 15.201 3.79854 14.9029 3.59874C14.7729 3.51158 14.6511 3.40781 14.4076 3.20027C13.7957 2.67883 13.4898 2.41811 13.1699 2.26522C12.43 1.91159 11.57 1.91159 10.8301 2.26522C10.5102 2.4181 10.2043 2.67883 9.5924 3.20027ZM16.3735 9.86314C16.6913 9.5453 16.6913 9.03 16.3735 8.71216C16.0557 8.39433 15.5403 8.39433 15.2225 8.71216L10.3723 13.5624L8.77746 11.9676C8.45963 11.6498 7.94432 11.6498 7.62649 11.9676C7.30866 12.2854 7.30866 12.8007 7.62649 13.1186L9.79678 15.2889C10.1146 15.6067 10.6299 15.6067 10.9478 15.2889L16.3735 9.86314Z' fill='url(%23paint0_linear_6540_10968)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6540_10968' x1='12' y1='2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231C478C'/%3E%3Cstop offset='1' stop-color='%23262E69'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.partner-item {
  @apply bg-no-repeat;
  background-size: 100% 100%;
  background: lightgray 21.6px 18.347px/75.784% 54.133% no-repeat;
}

.about_history-nav .slick-next, .about_award-nav .slick-next {
  @apply absolute right-0 top-1/2 -translate-y-1/2 fill-[#1B468D];
}
.about_history-nav .slick-prev, .about_award-nav .slick-prev {
  @apply absolute left-0 top-1/2 -translate-y-1/2 fill-[#1B468D];
}
.about_history-nav .slick-current, .about_award-nav .slick-current {
  @apply after:bg-gradient-blue before:absolute before:w-[18px] before:h-[18px] before:bottom-0 before:left-1/2 before:-translate-x-1/2 before:rounded-full before:bg-[#235BA8] before:backdrop-blur-sm before:bg-opacity-50;
}

.about_leadership-nav {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.about_leadership-nav [aria-selected=true] .svg-container {
  display: block;
}
.about_leadership-nav [aria-selected=false] .svg-container {
  display: none;
}

.scroll-bar-custom::-webkit-scrollbar {
  width: 4px;
}
.scroll-bar-custom::-webkit-scrollbar-track {
  background: rgba(49, 51, 63, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.scroll-bar-custom::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #235ba8;
}

.about_culture-list .swiper-slide-active .about_culture-item {
  @apply after:bg-opacity-0 mb-5;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1019607843);
}
.about_culture-list .swiper-slide-active .about_culture-item h4 {
  @apply block;
}
.about_culture-list .swiper-button-next,
.about_culture-list .swiper-button-prev {
  @apply w-10 h-10 rounded-full bg-white flex items-center justify-center -translate-y-1/2;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=base.css.map */
