@font-face {
    font-family: "Barlow";
    src: url(./Barlow-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Barlow";
    src: url(./Barlow-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Barlow";
    src: url(./Barlow-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Barlow";
    src: url(./Barlow-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Barlow";
    src: url(./Barlow-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(./helveticaneue.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(./helveticaneuemedium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(./helveticaneuebold.ttf);
    font-weight: 700;
}